<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    
        <title>Django y Python</title>
</head>
<body>
  <h1>Django con Python</h1>
  <p>Django es un framework de desarrollo web escrito en Python.</p>
  <p>Permite crear aplicaciones web de forma rápida, segura y escalable.</p>
  <p>Con Python y Django, podés desarrollar desde blogs hasta plataformas completas de e-commerce.</p>
  <p>Además, su estructura fomenta el código limpio y organizado.</p>
</body>
</html>